.email{
    width: 300px;
    margin-top: 20px;
}

.password{
    width: 300px;
    margin-top: 20px;
    
}
.loginbtn{
    margin-top: 20px;
    background-color: yellowgreen;
}

.signupbtn{
    margin-top: 20px;
    background-color: yellow;
}
.box{
    margin-top: 50px;
}
.main{
    display: inline-block;
    width: 270px;
    /* height: 250px; */
}
.b1{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
/* .b2{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b3{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b4{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b6{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b7{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b8{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b9{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b10{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b11{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b12{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b13{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b14{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b15{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b16{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b17{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b18{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b19{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b20{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b21{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b22{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b23{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b24{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b25{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b26{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.b27{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-block;
} */



